<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="manifest" href="/pwa-pricesheet/manifest.json">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Price List">
    <meta name="apple-mobile-web-app-title" content="Price List">
    <meta name="theme-color" content="#FFA500">
    <meta name="msapplication-navbutton-color" content="#FFA500">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-starturl" content="/index.html">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="icon" type="image/png" sizes="192x192" href="PriceList.png">
    <link rel="apple-touch-icon" type="image/png" sizes="192x192" href="PriceList.png">

    <title>Price List</title>
    <link rel="stylesheet" type="text/css" href="bulma.min.css" media="all">
    <link rel="stylesheet" type="text/css" href="index.css" media="all">
    <script src="vue.js"></script>
</head>
<body>
    <div id='app'>
        <nav class="navbar is-warning" role="navigation" aria-label="main navigation">
            <div class="navbar-start">
                <!--<a class="navbar-item" href="#">
                    <img src='PriceList.png' alt="PriceSheet: Get totals for samosa and spring roll sales">
                    Price Sheet
                </a>-->
                <div class="navbar-item">
                        <div class="field is-grouped">
                            <p class='control'>
                                <img src='PriceList.png' alt="PriceSheet: Get totals for samosa and spring roll sales">
                            </p>
                          <p class='control'>
                              <span class='is-size-5'>Price sheet</span>
                          </p>
                          <p class="control">
                        <span class='is-size-5' v-if="orderTotal > 0">Total: {{orderTotal | currency}}</span>
                          </p>
                        </div>
                      </div>
                
            </div>
        </nav>
        <div class="section">
            <div class="field is-grouped is-grouped-centered">
                <div class='control'>
                    <label class='radio'>
                        <input type='radio' name='foodtype' id='samosa' value='samosa' v-model='foodtype' @change='setPrice'>
                        Samosa
                    </label>
                    <label class='radio'>
                        <input type='radio' name='foodtype' id='springroll' value='springroll' v-model='foodtype' @change='setPrice'>
                        Spring roll
                    </label>
                </div>
            </div>

            <div class="columns is-mobile" v-if='foodtype != ""'>
                <div class="column">
                    <input class='input is-large' type="number" v-model="qty" placeholder="Qty" name="tbqty" id="tbqty">
                </div>
                <div class="column">
                    
                    <span class="heading">Price</span>
                    <span class='title'>{{unitprice | currency}}</span> 
                </div>

                <div class="column">
                    <span class="heading">Total</span>
                    <span class='title'>{{total | currency}}</span> 
                </div>
            </div>

            <div class='field' v-if='foodtype != ""'>
                <button id="tbAdd" class='button is-success is-fullwidth is-large' @click="addLine">Add</button>
            </div>

            <div id="orderdetails">
                <div class='columns is-mobile' >
                    <div class='column' v-for="(line, index) in order">

                        <div class='box'>                    
                            <button class='delete is-large' @click='delLine' >X</button>

                            <article class="media">

                                <div class="media-content">
                                    <div class="content">
                                        <strong>{{ line.foodtype }}</strong> x <strong class='is-italic'>{{line.qty}}</strong><br>
                                        <span class='is-size-4'>{{line.total | currency}}</span>
                                    </div>
                                </div>
                            </div>
                        </article>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
<script>
    Vue.filter('currency', function (value) {
        return '£' + parseFloat(value).toFixed(2);
    });

    var app = new Vue({
    el: '#app',
    data: {
        foodtype: '',
        unitprice: 0,
        qty: null,
        order: []        
    },
    methods: {
        setPrice: function () {
            switch(this.foodtype){
                case 'samosa':
                    this.unitprice = 0.3;
                    break;
                case 'springroll':
                    this.unitprice = 0.35;
                    break;
            }
        },
        addLine: function(){
            console.log(this.order);
            this.order.push({foodtype: this.foodtype, unitprice: this.unitprice, qty: this.qty, total: this.total });
            this.resetLines();
        },
        delLine: function(_index){
            console.log(this.order);
            this.order.splice(_index, 1)
            this.resetLines();
        },
        resetLines: function(){
            this.foodtype = '';
            this.unitprice = 0;
            this.qty = '';
        }
    },
    computed:{
        // a computed getter
        total: function () {
            // `this` points to the vm instance
            return this.unitprice * this.qty;
        },
        orderTotal: function(){
            return this.order.reduce((acc, item) => acc + item.total, 0);
        }
    }
});
</script>

<script>
    if('serviceWorker' in navigator) {
        navigator.serviceWorker
                .register('/pwa-pricesheet/sw.js')
                .then(function() { console.log("Service Worker Registered"); });
    }
</script>
        
</html>

